

    <form action="/admin/newArticle" class="editor container" method="post" enctype="multipart/form-data">
        
       <div class="header mt-3">
        <div id="author--name">
            <label for="author">Author</label>
            <input type="text" name="author">
        </div>
      
        <button type="submit" class="btn btn-outline-success btn-lg">POST</button>
       </div>

       <div class="article--title form-floating mb-1">
            <input name="title" type="text" class="form-control" id="floatingInput" placeholder="Title">
            <label for="floatingInput">Title</label>
      </div>
    
    <div class="image--selector">
        <div class="image">
            <label for="image">Image</label>
            <input type="file" name="file">
        </div>
          
        <!-- <div class="caption form-floating">
            <textarea name="imageCaption" class=" caption--holder form-control" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Caption</label>
        </div> -->

    <div class="caption form-floating">
        <textarea name="imageCaption" class="form-control" id="floatingCaption"></textarea>
        <label for="floatingCaption">Caption</label>
    </div>
        
    </div>
    <div class="form-floating" class="description--holder">
        <textarea name="description" class="form-control description" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Description</label>
      </div>
   
    <div class="markdown mt-3">
        <label for="markdown">Markdown</label>
        <textarea name="markdown" id="my--editor"></textarea>
    </div>
    <div class="form-floating mb-3 mt-3">
        <input name="tag" type="text" class="form-control tag--input" id="floatingInput" placeholder="#Tag">
        <label for="floatingInput">Tag</label>
      </div>     
       
    </form>
  
