<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Material Dash</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../assets/adminDashboard/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../assets/adminDashboard/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../assets/adminDashboard/css/demo/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../assets/adminDashboard/images/favicon.png" />

    <script defer src="../assets/adminDashboard/vendors/js/vendor.bundle.base.js"></script>
    <script defer src="../assets/adminDashboard/js/material.js"></script>
  <script defer src="../assets/adminDashboard/js/misc.js"></script>

  </head>