<!DOCTYPE html>
<html lang="en">
<%- include('./_header.ejs') %>

    <body>
        <script src="../assets/js/preloader.js"></script>
        <div class="body-wrapper">
            <div class="main-wrapper">
                <div class="page-wrapper full-page-wrapper d-flex align-items-center justify-content-center">
                    <main class="auth-page">
                        <div class="mdc-layout-grid">
                            <div class="mdc-layout-grid__inner">
                                <div
                                    class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet">
                                </div>
                                <div
                                    class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet">
                                    <div class="mdc-card">
                                        <!-- The Register form -->
                                        <%- include('./register-body.ejs') %>
                                        <!-- End Form -->
                                    </div>
                                </div>
                                <div
                                    class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet">
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>

    </body>

</html>