<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    

<!-- Froala plugins -->
<script src=" https://cdn.jsdelivr.net/npm/froala-editor@latest/js/plugins/table.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/plugins/table.min.css">
<script src = "node_modules/@wiris/mathtype-froala3/wiris.js"></script>
<!-- End Plugin -->
    <link rel="stylesheet" href="/froalacss">
   <link rel="stylesheet" href="./assets/style.css">
    <title>Editor</title>
</head>
<body>

    <form action="/newArticle" class="editor container" method="post" enctype="multipart/form-data">
        
       <div class="header mt-3">
        <div id="author--name">
            <label for="author">Author</label>
            <input type="text" name="author">
        </div>
      
        <button type="submit" class="btn btn-outline-success btn-lg">POST</button>
       </div>

       <div class="article--title form-floating mb-1">
            <input name="title" type="text" class="form-control" id="floatingInput" placeholder="Title">
            <label for="floatingInput">Title</label>
      </div>
    
    <div class="image--selector">
        <div class="image">
            <label for="image">Image</label>
            <input type="file" name="file">
        </div>
          
        <!-- <div class="caption form-floating">
            <textarea name="imageCaption" class=" caption--holder form-control" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Caption</label>
        </div> -->

    <div class="caption form-floating">
        <textarea name="imageCaption" class="form-control" id="floatingCaption"></textarea>
        <label for="floatingCaption">Caption</label>
    </div>
        
    </div>
    <div class="form-floating" class="description--holder">
        <textarea name="description" class="form-control description" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Description</label>
      </div>
   
    <div class="markdown mt-3">
        <label for="markdown">Markdown</label>
        <textarea name="markdown" id="editor"></textarea>
    </div>
    <div class="form-floating mb-3 mt-3">
        <input name="tag" type="text" class="form-control tag--input" id="floatingInput" placeholder="#Tag">
        <label for="floatingInput">Tag</label>
      </div>     
       
    </form> 
  
    <script src="/froalajs"></script>
   <script src="./assets/FroalaEditor.js"></script>
</body>
</html>