<div class="feature-posts">
    <a href="single-post.html" class="feature-post-item">                       
        <span>Featured Posts</span>
    </a>
    <a href="single-post.html" class="feature-post-item">
        <img src="assets/imgs/img-1.jpg" class="w-100" alt="">
        <div class="feature-post-caption">Incidunt Quaerat</div>
    </a>
    <a href="single-post.html" class="feature-post-item">
        <img src="assets/imgs/img-2.jpg" class="w-100" alt="">
        <div class="feature-post-caption">Culpa Ducimus</div>
    </a>
    <a href="single-post.html" class="feature-post-item">
        <img src="assets/imgs/img-3.jpg" class="w-100" alt="">
        <div class="feature-post-caption">Temporibus Simile</div>
    </a>
    <a href="single-post.html" class="feature-post-item">
        <img src="assets/imgs/img-4.jpg" class="w-100" alt="">
        <div class="feature-post-caption">Adipisicing</div>
    </a>
</div>